/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  background: white;
  font-family: 'Open Sans', sans-serif;
}
nav{
  display:flex;
  flex-direction: row;
  justify-content: center;
  background:10px #8C7353;
  padding: 2px 2px 4px 2px;
}
#home{
  border-left: 3px solid #8aa2a7;
}
li{
  display: inline;
  border-right: 3px solid #8aa2a7;
  padding: 19px;
  color: white;
  font-size: 18px;
}
article{
  display: absolute;
  margin: 1000px;
  background: #8C7353;
  width: 680px;
  height: 600px;
  border-radius: 30px;
  color: white;
}
h1{
  display: flex;
  justify-content: center;
}

p{
  padding: 5px;
}
/*Drop down menu*/
.link{
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
  color: white;
}
.games{
  position: relative;
}
.dropDownMenu{
  position: absolute;
  top: 75%;
  left: 20%;
  background: #8C7353;
  border: 2px solid black;
  padding: .5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
  opacity: 0;
  transform: translateY(5px);
  transition: opacity 150ms ease-in-out, transform 15ms ease-in-out;
}

.games >.link:focus, .link:hover{
  color: black;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
a {
  color: white;
  text-decoration: none;
}
a:hover{
  color: black;
}

.games >.link:focus + .dropDownMenu{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
/******************************************
/* Media queries
/*******************************************/
@media (min-width: 1024px){
  article{  
    width: 42.5rem;
    height: 37.5rem;
  margin: 0px 0px 0px 200px;
  }
}
@media (min-width: 600px){
  article{  
  width: 42.5rem;
  height: 37.5rem;
  margin: 0px 0px 0px 180px;
  }
}
@media (min-width: 1920px){
  article{  
  width: 42.5rem;
  height: 47.5rem;
  margin: 0px 0px 0px 650px;
  }
}
@media (max-width: 1920px){
  article{  
  width: 42.5rem;
  height: 47.5rem;
  margin: 0px 0px 0px 630px;
  }
}